.transactionList{
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 30px;
    font-weight: 700;
    background-color: white;
}

.title {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
}

.line {
    margin: 10px 15px; 
    border: 0;
    border-top: 1px solid rgba(155, 155, 155, 1); 
}

.container {
    width: 50%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  

.pageBtn {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    border-radius: 15px;
}
  
.pageBtn:hover {
    background-color: rgba(241, 241, 241, 1)
}
  
.pageBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
  

.pageNumber {
    font-size: 18px;
    margin-right: 10px;
    background-color: rgba(67, 150, 123, 1); 
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.arrowIcon {
    margin-right: 5px;
    width: 37px;
    height: 37px;
}
  


