.button {
    background: #e3e3ee;
    border: 0;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 15px;
    padding : 12px 30px;
    cursor: pointer;
    margin : 8px;
    color: white;
}

.success {
    background: linear-gradient(to left, rgba(181, 220, 82, 1), rgba(137, 225, 72, 1));
}

.failure {
    background: linear-gradient(to right, rgba(255, 149, 149, 1), rgba(255, 71, 71, 1), rgba(255, 56, 56, 1));
}

.primary {
    background-color: rgba(244, 187, 74, 1);
    color: white;
    
}

.secondary {
    background-color: rgba(227, 227, 227, 1);
    color: black;
}