.formContainer {

}

input, select, option {
    background-color: white;
    border: none;
    font-weight: 400;
    font-size: 16px;
    border-radius: 15px;
    height: 40px;
    width: 215px;
    color: rgba(145, 145, 145, 1);
    outline: none;
    margin : 5px 0px;
    margin-right: 5px;
}

.form {
    margin : 5px 0px;
}



